.nav-container{
    height: 60px;
}

.nav-wrapper{
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.wrapper-left{
   flex: 1;
   display: flex;
   align-items: center;
}
.wrapper-center{
    flex: 1;
    text-align: center;
}
.wrapper-right{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.language span{
    font-size: 14px;
    cursor: pointer;
}

.search-container{
    border: 0.5px solid lightgray;
    display: flex;
    align-items: center;
    margin-left: 25px;
    padding: 5px;
}
.search-container input{
    border: none;
}

.logo h1{
font-weight: bold;
font-family: "Prata";
}

.menu-items{
    font-size: 14px;
    cursor: pointer;
    margin-left: 25px;
}

.menu-items i{
    color: rgb(114, 112, 112);
    font-size: 18px;
}